div.swiper-video-next, div.swiper-video-prev{
	position: absolute;
	z-index: 9999;
	cursor: pointer;
}
div.swiper-video-prev{
	left: 0;
}
div.swiper-video-next {
	right: 0;
}

.swiper-video-next:hover svg, .swiper-video-prev:hover svg {
	scale: 1.3;
} 

main[client-opp-comp] {
    display: flex;
    width: 100%;
	flex-direction: column;
    box-sizing: border-box;
}


div[client-opp-comp].where {
    width: 100% ;
	position: relative;
	order: 1;
	overflow: hidden;
}

.swiper-video-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-video {
	width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
	margin: auto;
}

main[client-opp-comp] .client.fade-up {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
	padding: 96px 14% 40px;
}

h1[client-opp-comp] {
	font-size: 20px;
	color: var(--tertiary)
}

h2[client-opp-comp] {
	font-weight: 900
}

.text[client-opp-comp] {
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.text11 p[client-opp-comp] {
	padding-left: 15px;
	border-left: 3px solid var(--tertiary)
}

.text-none[client-opp-comp] {
	opacity: 0;
	display: none
}


.background[client-opp-comp] {
	
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: .8s ease
}

.opacity[client-opp-comp] {
	opacity: 0
}

@media (min-width: 700px) {
	h1[client-opp-comp] {
		font-size: 24px
	}

	h2[client-opp-comp] {
		font-size: 18px
	}
}

@media (min-width: 1024px) {

	main[client-opp-comp] .client.fade-up{
		width: 50%;
		padding: 0 12% 0 5%;
	}



	div[client-opp-comp].where {
		order: 0;
		width: 50% ;
	}

	.text[client-opp-comp] {
		position: relative;
		display: flex;
		text-align: left;
		padding: 92px 10% 92px 5%;
		order: 0;
		width: 50%;
		justify-content: center;
	}

	h1[client-opp-comp] {
		font-size: 36px
	}

	h2[client-opp-comp] {
		font-size: 24px
	}

	.text-none[client-opp-comp] {
		display: flex
	}

	.last {
		color: var(--secondary);
		font-weight: 700;
		font-size: 18px
	}

	main[client-opp-comp] {
		height: 663px;
		flex-direction: row;
	}
}