header[data-v-fc68e082] {
	width: 100%;
	height: 100%;
	text-align: center
}

.text[data-v-fc68e082] {
	display: flex;
	width: 100%;
	height: 100%;
	gap: 10px;
	padding: 80px 18%;
	flex-direction: column;
	z-index: 2514;
	color: var(--secondary);
	position: relative
}

.background[data-v-fc68e082] {
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 200%;
	background-image: url(./about-background.jpg);
	filter: brightness(.5);
	position: absolute;
	top: 0;
	left: 0
}

.text h1[data-v-fc68e082] {
	font-size: 20px;
	z-index: 9999;
	color: var(--secondary)
}

.text p[data-v-fc68e082] {
	font-weight: 400;
	z-index: 9999;
	color: var(--secondary)
}

@media (min-width:700px) {
	.text h1[data-v-fc68e082] {
		font-size: 34px
	}
}

@media (min-width:1000px) {
	.text[data-v-fc68e082] {
		padding: 140px 15%
	}

	.background[data-v-fc68e082] {
		background-size: 120%
	}

}

main[data-v-24f50242] {
	display: flex;
	flex-direction: column;
	gap: 60px;
	padding: 92px 5%
}

h1[data-v-24f50242] {
	font-size: 18px;
	color: var(--tertiary)
}

a[data-v-24f50242],
h2[data-v-24f50242] {
	font-family: Roboto-Regular;
	font-size: 17px;
	font-weight: 100;
	color: var(--tertiary)
}

a[data-v-24f50242] {
	font-weight: 900;
	text-decoration: underline
}

h2[data-v-24f50242] {
	font-weight: 700;
	font-size: 14px
}


input[data-v-24f50242]:focus,
textarea[data-v-24f50242]:focus {
	outline: none
}

textarea[data-v-24f50242] {
	padding: 15px;
	height: 200px;
	background-color: var(--secondary2);
	width: 100%;
	border-radius: 4px;
	border: 0;
}

.texts[data-v-24f50242] {
	display: flex;
	gap: 50px;
	flex-direction: column
}

.p1[data-v-24f50242],
.p2[data-v-24f50242] {
	width: 100%;
}

.p2[data-v-24f50242] {
	gap: 20px;
	display: flex;
	flex-direction: column;
}

.text11[data-v-24f50242] {
	display: flex;
	flex-direction: column;
	gap: 10px
}

.text11 p[data-v-24f50242] {
	padding-left: 15px;
	display: flex;
	align-items: center;
	border-left: 3px solid var(--tertiary)
}

span[data-v-24f50242] {
	color: var(--primary)
}

@media (min-width: 700px) {
	h1[data-v-24f50242] {
		font-size: 24px
	}

	p[data-v-24f50242],
	h2[data-v-24f50242] {
		font-size: 18px
	}
}

@media (min-width: 1000px) {
	main[data-v-24f50242] {
		padding: 150px 12%
	}

	.text11[data-v-24f50242] {
		display: flex
	}

	h1[data-v-24f50242] {
		font-size: 36px
	}

	h2[data-v-24f50242],
	a[data-v-24f50242] {
		font-size: 24px
	}

	.texts[data-v-24f50242] {
		display: flex;
		gap: 50px;
		flex-direction: row
	}

	.p1[data-v-24f50242],
	.p2[data-v-24f50242] {
		width: 50%;
	}
	.contat-form-elements{
		display: flex;
    	flex-direction: column;
    	gap: 32px;
	}
}