header.page {
    margin-top: 70px;
    padding: 0 5%;
    position: relative;
    height: 320px;
    width: 100%;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./about-header.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header.page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Ajusta la opacidad aquí */
    z-index: 1;
}

header.page > * {
    position: relative;
    z-index: 2;
}

header.page h1 {
    color: #FCF8EC;
    font-size: 24px;
    font-family: Roboto-Regular;
    font-weight: 700;
    word-wrap: break-word;
    line-height: normal;
}

header.page p {
    font-size: 16px;
    color: #FCF8EC;
    font-family: Roboto-Regular;
    font-weight: 400;
    word-wrap: break-word;
    max-width: 562px;
}

@media (min-width:1024px) {
    header.page {
        margin-top: 0;
    }
    
    header.page h1 {
        font-size: 36px;
    } 

    header.page p{
        font-size: 22px;
    }
}
