header.page {
    padding: 0 5%;
    position: relative;
    width: 100%;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}



header.page > * {
    position: relative;
    z-index: 2;
}

header.page h1 {
    margin: 40px 0 40px;
    color: var(--tertiary);
    font-size: 24px;
    font-family: Roboto-Regular;
    font-weight: 700;
    word-wrap: break-word;
    line-height: normal;
}

header.page p {
    font-size: 18px;
    color: #FCF8EC;
    font-family: Roboto-Regular;
    font-weight: 400;
    word-wrap: break-word;
    max-width: 600px;
}

@media (min-width:1024px) {

    
    header.page {
        margin-top: 0;
        padding: 0 12%;
    }
    
    header.page h1 {
        font-size: 36px;
    } 

    header.page p{
        font-size: 22px;
    }
}
