main[data-v-4935e4b1] { 
	display: flex;
	flex-direction: column;
	padding: 0 5%;
}

h2[data-v-7da4b8f3]{
	margin-bottom: 0;
}

.right[data-v-d974372f] .info p{
	margin-bottom: 0;
}

.right[data-v-d974372f] .info p:last-child{
	margin-bottom: 32px;
}

main[data-v-4935e4b1] .text22{
	display: flex;
	gap: 32px;
}

p[data-v-4935e4b1],
a[data-v-4935e4b1] {
	font-family: Roboto-Regular;
	font-size: 17px
}

a[data-v-4935e4b1] {
	font-weight: 900;
	text-decoration: underline
}

a[data-v-857932b3] {
	box-shadow: 0 2px 5px 2px #00000032;
	border-radius: 8px;
	overflow: hidden;
}

h2[data-v-4935e4b1] {
	font-size: 18px;
	display: flex;
	align-items: center;
	gap: 5px;
}

button[data-v-4935e4b1] {
	border: none;
	cursor: pointer
}

h3 h5[data-v-4935e4b1] {
	font-size: 16px
}

.title[data-v-4935e4b1] {
	display: flex;
	flex-direction: column;
	gap: 20px
}

li[data-v-4935e4b1]::marker {
	content: counter(list-item);
	font-size: 40px;
	font-family: Raleway
}

section[data-v-4935e4b1] {
	padding: 0 0 40px 0%;
	display: flex;
	flex-direction: column;
	gap: 40px
}

.image[data-v-4935e4b1] {
	width: 100%
}

video[data-v-4935e4b1] {
	width: 100%
}

.text2[data-v-4935e4b1] {
	display: flex;
	flex-direction: column;
	gap: 40px
}

.text22 h3[data-v-4935e4b1] {
	font-size: 16px;
	color: var(--primary)
}

span[data-v-4935e4b1] {
	font-weight: 900
}

.step1[data-v-4935e4b1] {
	gap: 16px
}

hr[data-v-7da4b8f3] {
	margin: 48px 5%;	
}

main[data-v-101211cc] {
	display: flex;
	flex-direction: column;
	gap: 80px;
	padding: 100px 5% 0;
}

span[data-v-101211cc] {
	font-weight: 900
}

p[data-v-101211cc] {
	font-family: Roboto-Regular;
	font-size: 17px
}

h2[data-v-101211cc] {
	font-size: 20px
}

a[data-v-101211cc] {
	font-weight: 900;
	font-family: Roboto-Regular;
	text-decoration: underline
}

.element:hover img[data-v-857932b3] {
	scale: 1.2
}

.image[data-v-857932b3] {
	width: 100%;
	height: 78%;
	overflow: hidden;
	border-radius: 4px
}

.text[data-v-857932b3] {
	height: 22%;
	width: 100%;
	padding: 20px;
	transition: .8s ease;
	border-radius: 0 0 4px 4px;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 3px 5px #00000050;
	opacity: 0;
	pointer-events: none
}

.active2[data-v-857932b3] {
	opacity: 1;
	pointer-events: all
}

.active3[data-v-857932b3] {
	border-radius: 4px 4px 0 0
}

.text-left[data-v-857932b3] {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	justify-content: space-between;
}

h1[data-v-857932b3] {
	font-size: 16px;
	font-weight: 700;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}

p[data-v-857932b3] {
	font-size: 16px;
	font-weight: 500
}

img[data-v-857932b3] {
	object-fit: cover;
	width: 100%;
	height: 100%;
	transition: .4s ease
}

.todo[data-v-857932b3] {
	width: 100%;
	overflow: hidden;
	display: flex;
	position: relative
}

button[data-v-857932b3] {
	margin-top: 200px;
	z-index: 9999;
	position: absolute;
	width: 100px;
	height: 100px;
	bottom: calc(50% - 20px);
	transition: .4s ease
}

.button2[data-v-857932b3] {
	right: 100px
}

button[data-v-857932b3] {
	background: none;
	border: none;
	outline: none;
	cursor: pointer
}

button:hover svg[data-v-857932b3] {
	scale: 1.3
}

.icon1[data-v-857932b3],
.icon2[data-v-857932b3] {
	stroke: var(--secondary);
	height: 100px;
	width: 100px;
	transition: .4s ease
}

.icon1[data-v-857932b3] {
	transform: rotate(180deg)
}

.hidden[data-v-857932b3] {
	opacity: 0;
	pointer-events: none
}

main[data-v-7da4b8f3] {
	padding: 0 5% 96px;
	background-color: var(--secondary);
	overflow: hidden
}

h1[data-v-7da4b8f3] {
	font-size: 18px;
	color: var(--tertiary)
}

.link[data-v-7da4b8f3] {
	min-width: max-content
}

.text[data-v-7da4b8f3] {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 5%;
	text-align: left;
}

.text1[data-v-7da4b8f3] {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	margin-bottom: 32px;
}

.text1 a[data-v-7da4b8f3] {
	min-width: max-content;
	font-family: Roboto-Medium;
	font-weight: 900;
	text-decoration: underline
}

.text11[data-v-7da4b8f3],
.text12[data-v-7da4b8f3],
.text13[data-v-7da4b8f3] {
	display: flex;
	flex-direction: column;
	gap: 10px
}

.text11 p[data-v-7da4b8f3] {
	padding-left: 15px;
	border-left: 3px solid var(--tertiary);
	display: flex;
	align-items: center;
	width: 170%
}

.link a[data-v-7da4b8f3] {
	font-family: Roboto-Regular
}

.MAIN[data-v-d974372f] {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative
}

.comprar[data-v-d974372f] {
	width: 100%;
	height: 96px;
	display: flex;
	padding: 25px;
	gap: 20px;
	align-items: center;
	justify-content: center;
	background-color: var(--secondary2);
	position: sticky;
	z-index: 99999999;
	bottom: 0
}

.comprar img[data-v-d974372f] {
	width: 60px
}

.button[data-v-d974372f] {
	font-size: 12px;
	padding: 20px;
	width: 100%;
	background-color: var(--primary);
	border: none;
	color: var(--secondary);
	border-radius: 4px;
	font-family: Roboto-Medium;
	cursor: pointer;
	transition: .2s ease;
	box-shadow: 0 2px 2px #00000042
}

.button[data-v-d974372f]:hover {
	background-color: var(--secondary);
	color: var(--tertiary)
}

.left[data-v-d974372f] {
	padding: 96px 5% 48px;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
	gap: 16px;
}

hr[data-v-d974372f] {
	margin-bottom: 80px
}

.left h1[data-v-d974372f] {
	font-size: 24px
}

.image[data-v-d974372f] {
	height: auto;
	aspect-ratio: 1 / 1;
	width: 100%;
	background-position: center 20%;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 10px;
	order: 1;
}

.images[data-v-d974372f] {
	display: flex;
	width: 100%;
	height: max-content;
	gap: 15px;
	order: 2;
}

.item[data-v-d974372f] {
	border-radius: 10px;
	overflow: hidden;
	flex: 1;
	aspect-ratio: 1 / 1;
}

.item img[data-v-d974372f] {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center
}

p[data-v-d974372f] {
	line-height: 32px
}

.right[data-v-d974372f] hr {
	margin: 48px 0;
}

.item[data-v-d974372f] {
	filter: brightness(.5);
	cursor: pointer;
	transition: .2s ease
}

.item[data-v-d974372f]:hover,
.active[data-v-d974372f] {
	filter: brightness(1)
}

.image1[data-v-d974372f] {
	background-image: url(./2.jpg)
}

.image2[data-v-d974372f] {
	background-image: url(./item1.jpg)
}

.image3[data-v-d974372f] {
	background-image: url(./item2.jpg)
}


@media (min-width:1024px) {

	.empty.full-width {
		height: 100%;
	}

		h2[data-v-7da4b8f3]{
			margin-bottom: 20px;
		}

		main[data-v-4935e4b1] {
			display: flex;
			flex-direction: column;	
			padding: 0;
			width: 100%;
			height: 490px;
			padding-bottom: 100px;
        	box-sizing: content-box;
		}
	
		.text22 h2[data-v-4935e4b1] {
			font-size: 36px
		}
	
		.text22 h3[data-v-4935e4b1] {
			font-size: 24px;
			color: var(--primary)
		}
	
		h5[data-v-4935e4b1],
		p[data-v-4935e4b1],
		a[data-v-4935e4b1] {
			font-size: 24px
		}
	
		h2[data-v-4935e4b1] {
			font-size: 32px
		}
	
		main[data-v-101211cc] {
			display: flex;
			flex-direction: column;
			gap: 80px;
			padding: 0 0 80px 0
		}
	
		h2[data-v-101211cc] {
			font-size: 36px
		}
	
		p[data-v-101211cc] {
			font-size: 24px
		}
	
		.carousel[data-v-857932b3] {
			display: flex;
			height: 571px;
			gap: 50px;
			padding: 0 0%
		}
	
		.element[data-v-857932b3] {
			border-radius: 8px
		}
	
		.text[data-v-857932b3] {
			height: 22%;
			width: 100%;
			padding: 20px;
			transition: .8s ease;
			border-radius: 0 0 4px 4px;
			display: flex;
			justify-content: space-between;
			box-shadow: 0 3px 5px #00000050;
			opacity: 1;
			pointer-events: none
		}
	
		.image[data-v-857932b3] {
			border-radius: 4px 4px 0 0
		}
	
		h1[data-v-857932b3],
		p[data-v-857932b3] {
			font-size: 24px
		}
	
	
		main[data-v-7da4b8f3] {
			padding: 0 12% 130px;
			background-color: var(--secondary)
		}
	
		.carousel-item[data-v-7da4b8f3] {
			margin: 0 10px;
			height: 540px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			cursor: pointer;
			box-shadow: 0 3px 5px #00000050
		}
	
		.item-text[data-v-7da4b8f3] {
			padding: 20px
		}

	
		.text[data-v-7da4b8f3] {
			width: 100%
		}
	
		.text11[data-v-7da4b8f3] {
			display: flex;
			gap: 30px;
			flex-direction: row
		}
	
		hr[data-v-7da4b8f3] {
			margin: 130px 0;
			width: 110%;
			margin-left: -5%
		}
	
		.text12[data-v-7da4b8f3] {
			display: flex;
			flex-direction: row;
			gap: 50px
		}
	
		.text[data-v-7da4b8f3] {
			justify-content: space-between;
			text-align: left;
			padding: 0;
		}
	
	
		.text1[data-v-7da4b8f3] {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			gap: 40px;
			text-align: left;
			margin-bottom: 0;
		}

	.MAIN[data-v-d974372f] {
		display: flex;
		flex-direction: row;
		position: relative;
		padding: 96px 0 0
	}

	.comprar[data-v-d974372f] {
		display: none
	}

	.left[data-v-d974372f] {
		padding: 0 12% 0 12%;
		display: flex;
		justify-content: space-between;
		width: 50%;
		max-width: none
	}

	.left[data-v-d974372f] {
		width: 50%;
		position: sticky;
		top: 170px;
		height: max-content
	}

	.left h1[data-v-d974372f] {
		padding-right: 20px
	}

	.images[data-v-d974372f] {
		gap: 16px;
		order: 2;
	}
	.right[data-v-d974372f] {
		width: 50%;
		padding: 0 12% 0 0;
	}

	.right[data-v-d974372f] hr {
		margin: 64px 0;
	}
}

